<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>YourSpotted | Wyślij anonimową wiadomość</title>
</head>

<body>
    <form>
      {% csrf_token %}
      <div id="test">
        {{ form.message }}
        <label for="input-1">
          <span class="label-text">Wyślij anonimową wiadomość</span>
        </label>
        <button class="button">></button>
      </div>
        <p class="tip">Kliknij <span style="font-weight: bold; color: white;">Enter</span> aby potwierdzić</p>
        
      </form>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
